.slick-list {
   overflow: hidden;
   max-width: 1080px;
}

.slick-track {
   display: flex;
}

.latest_slider .slick-arrow {
   position: absolute;
   top: 50%;
   margin: -35px 0 0 0;
   z-index: 10;
   font-size: 0;
   width: 30px;
   height: 70px;
}

.latest_slider .slick-arrow.slick-prev {
   left: 0;
   background: url('../img/icon/prev.svg') 0 0 / 100% no-repeat;
}

.latest_slider .slick-arrow.slick-next {
   right: 0;
   background: url('../img/icon/next.svg') 0 0 / 100% no-repeat;
}