/* general */
html {
  background-color: #181617;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

/* header */
.header_background_color {
  background-color: #02160b;
}

.header_background {
  background-image: url(../img/header-background.png);
  max-width: 1440px;
  margin: 1px auto 0;
  box-shadow: inset 0 0 4px 4px #02160B;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logotype {
  width: 222px;
  margin: 17px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.header_title {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: #f7f7f7;
}

.header_logo_icon {
  margin: 2px 0 0;
}

.header_logo_icon_img {
  width: 70px;
  height: 60px;
}

.header_logo_name {
  margin: 0 0 2px;
}

.header_menu {
  margin: 16px 0 0;
}

.header_menu_list {
  width: 479px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu_item {
  list-style: none;
}

.header_menu_link_img {
  background: url(../img/icon/search.svg) no-repeat;
  width: 32px;
  height: 32px;
  padding-top: 4px;
}

.header_menu_link_img:hover {
  filter: grayscale(0.1);
  transition: all 0.25s ease-in-out;
  transform: scale(1.1);
  background: url(../img/icon/search_hover.svg) no-repeat;
  cursor: pointer;
}

.header_menu_link_img:active {
  background: url(../img/icon/search_active.svg) no-repeat;
}

.header_menu_link {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  color: #f7f7f7;
  display: block;
}

.header_menu_link:hover {
  color: #cd6326;
}

.header_menu_link:active {
  color: #8F5613;
}

.button {
  border: 2px solid #cd6326;
  border-radius: 5px;
}

.button:hover {
  color: #fff;
  background: #cd6326;
}

.button:active {
  border: 2px solid #8F5613;
  background: #8F5613;
}

.header_menu_item_button {
  font-family: 'Roboto';
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
  padding: 10px 23px 10px;
}

.header_menu_item_button:hover {
  color: #f7f7f7;
}

/* survival */
.survival {
  max-width: 1200px;
  margin: 117px auto 0;
  padding-bottom: 239px;
}

.survival_title {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: #cd6326;
}

.survival_text {
  width: 278px;
  margin: 51px 0 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 27.1px;
  color: #f7f7f7;
}

.survival_button {
  background: #cd6326;
  border-radius: 5px;
  width: 160px;
}

.survival_button_link {
  display: block;
  padding: 17px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #f7f7f7;
}

.survival_button:hover {
  background: #E39128;
}

.survival_button:active {
  background: #8F5613;
}

/* latest */
.main_background_color {
  background-color: #ccc;
}

.latest_title {
  margin: 121px 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #333333;
}

.latest_text {
  margin: 20px 0 120px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #666666;
}

.latest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latest_slider {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 0px 240px;
  position: relative;
  padding: 0px 0px;
}

.latest_slider_item {
  text-align: center;
  width: 200px;
  min-width: 300px;
  margin: auto;
}

.latest_slider_item_img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.latest_slider_item_img > img {
  width: 100%;
  max-width: 300px;
}

.latest_slider_item_img_title {
  position: absolute;
  left: 0;
  bottom: 75px;
  width: 100%;
  z-index: 5;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #f7f7f7;
  font-size: 22px;
  line-height: 36px;
}

.latest_slider_item_img_text {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  z-index: 5;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #f7f7f7;
  font-size: 17px;
  line-height: 27px;
}

/* getnot */
.getnot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.getnot_title {
  font-family: 'Open Sans', sans-serif;
  font-size: 27px;
  line-height: 40px;
  text-align: center;
  color: #333333;
  margin: 0 0 60px;
}

.getnot_dispatch_form {
  display: flex;
  margin: 0 0 239px;
}

::placeholder {
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  line-height: 27px;
  align-items: center;
}

.getnot_dispatch_form_example_email {
  border: 1px #666 solid;
  opacity: 0.5;
}

.getnot_dispatch_form_example_input {
  padding: 26px 363px 17px 14px;
  background-color: #ccc;
}

.getnot_dispatch_form_example_btn {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #f7f7f7;
  background: #cd6326;
  border: 1px solid #cd6326;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  width: 120px;
  height: 60px;
}

/* footer */
.footer_background_color {
  background-color: #181617;
}

.footer_background {
  background: url(../img/footer-background.png);
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: inset 0 0 4px 4px #181617;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.footer_menu {
  padding: 150px 120px 125px;
}

.footer_menu_list,
.footer_second_menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
}

.footer_menu_item,
.footer_second_menu_item {
  list-style-type: none;
}

.footer_menu_link_page {
  margin-bottom: 25px;
}

.footer_menu_link_page_art {
  margin-left: 10px;
}

.footer_menu_link_page_about {
  margin-right: 2px;
}

.footer_menu_link_page_learn {
  margin-right: -6px;
}

.footer_menu_link_page_social {
  margin-left: 2px;
  margin-top: 30px;
}

.footer_menu_link:hover {
  color: #cd6326;
}

.footer_menu_link:active {
  color: #8F5613;
}

.footer_menu_link {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  line-height: 60px;
  color: #f7f7f7;
}

.footer_menu_link_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 222px;
}

.footer_logo_icon {
  margin: 22px 0 0;
}
/* 
.footer_logo_name {
  margin: 0 0 25px;
} */

.footer_title {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: #f7f7f7;
}

.footer_second_menu_list {
  width: 240px;
}

.link_facebook,
.link_instagram,
.link_pinterest,
.link_youtube {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.link_facebook {
  background-image: url(../img/icon/facebook.svg);
}

.link_instagram {
  background-image: url(../img/icon/inst.svg);
}

.link_pinterest {
  background-image: url(../img/icon/pinterest.svg);
}

.link_youtube {
  background-image: url(../img/icon/YouTube.svg);
  background-size: contain;
}

.link_facebook:hover,
.link_youtube:hover,
.link_instagram:hover,
.link_pinterest:hover {
  filter: grayscale(0.1);
  transition: all 0.25s ease-in-out;
  transform: scale(1.2);
}

.link_youtube:hover {
  transition: all 2.5s ease-in-out;
  transform: scale(1.2) rotate(360deg);
}